:root {
  --cnpaint-paper_raw: #F3EFE3; /* 生宣纸白 */
  --cnpaint-paper_sized: #EAE2CF; /* 熟宣暖白 */
  --cnpaint-silk_aged: #D8C7A6; /* 旧绢色 */
  --cnpaint-shell_white: #F0EDE1; /* 蛤粉 */
  --cnpaint-mica_white: #DDD9CD; /* 云母白 */
  --cnpaint-ink_charred: #171513; /* 焦墨 */
  --cnpaint-ink_dense: #2B2925; /* 浓墨 */
  --cnpaint-ink_heavy: #47433B; /* 重墨 */
  --cnpaint-ink_light: #7A756C; /* 淡墨 */
  --cnpaint-ink_clear: #AAA59B; /* 清墨 */
  --cnpaint-cinnabar: #B64A3B; /* 朱砂 */
  --cnpaint-vermilion_light: #D66D4E; /* 朱磦 */
  --cnpaint-silver_vermilion: #C65B55; /* 银朱 */
  --cnpaint-rouge: #8D394C; /* 胭脂 */
  --cnpaint-eosin_red: #C54D60; /* 曙红 */
  --cnpaint-jiang_red: #793B43; /* 绛红 */
  --cnpaint-ink_red: #704247; /* 墨红 */
  --cnpaint-gamboge: #D6A82E; /* 藤黄 */
  --cnpaint-stone_yellow: #C99831; /* 石黄 */
  --cnpaint-orpiment: #E0B43C; /* 雌黄 */
  --cnpaint-ochre: #996547; /* 赭石 */
  --cnpaint-ochre_yellow: #B48A56; /* 赭黄 */
  --cnpaint-rice_yellow: #D5BE8A; /* 米黄 */
  --cnpaint-sandal: #C3A26B; /* 檀香色 */
  --cnpaint-bronze: #85684D; /* 古铜色 */
  --cnpaint-mud_gold: #C3A25B; /* 泥金 */
  --cnpaint-leaf_gold: #D5B65A; /* 金箔色 */
  --cnpaint-mud_silver: #B8B4A9; /* 泥银 */
  --cnpaint-indigo: #315B72; /* 花青 */
  --cnpaint-ink_blue: #2F4955; /* 墨青 */
  --cnpaint-azurite_1: #205D77; /* 头青 */
  --cnpaint-azurite_2: #3C7B91; /* 二青 */
  --cnpaint-azurite_3: #70A5AF; /* 三青 */
  --cnpaint-azurite_4: #9BC2C3; /* 四青（数字扩展） */
  --cnpaint-dai_blue: #344D54; /* 黛青 */
  --cnpaint-spiral_blue: #294D50; /* 螺青 */
  --cnpaint-malachite_1: #306D51; /* 头绿 */
  --cnpaint-malachite_2: #5C8D6B; /* 二绿 */
  --cnpaint-malachite_3: #8CB394; /* 三绿 */
  --cnpaint-malachite_4: #B3CCAE; /* 四绿（数字扩展） */
  --cnpaint-grass_green: #668A40; /* 草绿 */
  --cnpaint-sap_green: #8FAB4F; /* 汁绿 */
  --cnpaint-old_green: #526A43; /* 老绿 */
  --cnpaint-ink_green: #3E5543; /* 墨绿 */
  --cnpaint-bean_green: #A2B88B; /* 豆绿 */
  --cnpaint-grey_green: #8B9A87; /* 灰绿 */
  --cnpaint-copper_green: #43846C; /* 铜绿 */
  --cnpaint-purple: #73526F; /* 紫（胭脂+花青逻辑） */
  --cnpaint-grape_purple: #674E66; /* 葡萄紫 */
  --cnpaint-blue_grey: #76878A; /* 青灰 */
  --cnpaint-warm_grey: #8C8174; /* 赭灰 */
}